<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>game</title>
        <link rel="stylesheet" href="/stylesheets/gamestyle.css"> 
       
    </head>
    <body>
        <nav class="navbar">
            <button class="menu-btn">&#9776;</button>
            <p>Social Circles</p>
            <button class = "exit-btn">Exit Game</button>
            <button class= "profile-btn">&#128100;</button>
        </nav>

        <!-- Fix class and id names so it's not confusing-->

        <div id= "exitModal" class = "modal">
            <div class = "modal-content">
                <p id = "exit-msg">Are you sure you want to exit?</p>
                <button id="confirmExit">Yes, return to home</button>
                <button id="cancelExit">Cancel</button>
            </div>
        </div>

        
        <div class="leaderboard-panel">
            <% miniLeaderboard.forEach(player => { %>
                <div class="player-rank">
                  <span><%= player.icon %></span>
                  <span><%= player.name %></span>
                  <span><%= player.score %></span>
                </div>
              <% }) %>
            
              <button id="leaderboard-btn" class="leaderboard-btn">View Leaderboard</button>
              <button id="descriptions-btn" class="descriptions-btn">View Character Descriptions</button>

        </div>
        

        
        <main class="content">
            <% socialCircles.forEach((circle, i) => { %>
                <button class="social-circle" id="circle<%= i + 1 %>">
                    <strong>Social Circle <%= i + 1 %><br></strong><br>
                    <div>
                      <%= circle.map(char => char.name).join(", ") %>
                    </div>
                </button>
              <% }) %>
        </main>

        <div id="actionOverlay" class = "overlay">
            <div class = "overlay-content">
            <button class = "action-button">Give Compliment</button>
            <button class = "action-button">Offer Help</button>
            <button class = "action-button">Invite to Event</button>
            <button id = "closeOverlay" class = "close-button">Close</button>
        </div>
     </div>
        
     <footer class="footer"> Your Happiness Score: <%= score %> </footer>
        <script src="/scripts/game.js"></script>
    </body>
</body>
</html>